body {
  background-color: #1f0b03;
  color: #FEDCBA;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  text-align: center;
}

.h1 {
  color: #FEDCBA;
  font-size: 40px;
}

.retro {
  background-color: #04005E;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 3%;
  -webkit-text-stroke: 1px #f695ff;
}

.retro h2 {
  color: #ed22ff;
  font-size: 40px;
}

.retro p {
  color: #e8ccff;
  font-family: 'Roboto', sans-serif;
  padding: 3%;

}

.navbar {
  background-color: #1f0b03;
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  background-color: #1f0b03;
  margin-bottom: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  background-image: url(assets/tavernBackground3.PNG);
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar{
  color: #FEDCBA;
  background-color: #1f0b03;
  margin-bottom: 0%;
  padding: 3%;
}

/* Add a gray background color and some padding to the footer */
.footer {
  background-color: #1f0b03;
  padding: 25px;
}

.panel {
  background-color: #1f0b03;
  text-align: center;
  font-size:15px;
  margin:0%;
}

.panel-heading{
  background-color: #FEDCBA;
  color: #1f0b03;
  text-align: center;
  font-size:28px;
  padding: 2%;
}

.panel-warning{
  border-color: #1f0b03;
  padding: 0%;
}

.panel-warning .panel-heading{
    background-color: #FEDCBA;
    color: #1f0b03;
    text-align: center;
    font-size:15px;
    padding: 0%;
}

.panel-warning .panel-body{
    background-color: #1f0b03;
    border-color: #1f0b03;
    color: #FEDCBA;
    text-align: center;
    font-size:28px;
    padding: 0%;
}

.btn {
  background-color: #1f0b03;
  border-color: #FEDCBA;
  width: 24%;
}

.btn:hover {
  background-color: #ffa347;
  border-color: #1f0b03;
}

.btn-collapse{
  background-color: #FEDCBA;
  border-color: #FEDCBA;
  color: #1f0b03;
  text-align: center;
}

.list-group-item {
  background-color: #1f0b03;
  margin: 5%;
}

.rowForm{
  font-size:24px;
  padding:2%;
}

.rowForm label{
  background-color: #1f0b03;
  color: #FEDCBA;
}

.rowForm input{
  background-color: #FEDCBA;
  color: #1f0b03;
}

.embed-responsive-item{
  border-color: #FEDCBA;
}

.p-10 {
  padding: 10px;
}


