body {
  background-color: #1f0b03;
  color: #FEDCBA;
  font-family: 'Dancing Script', cursive;    
  font-size: 20px;

}

.navbar {
  background-color: #1f0b03;
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  background-color: #1f0b03;
  margin-bottom: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  background-image: url(assets/tavernBackground.png);
  background-size: cover;
}

.navbar{
  color: #FEDCBA;
  font-family: 'Dancing Script', cursive;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #1f0b03;
  padding: 25px;
}

.panel {
  background-color: #1f0b03;
}